<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    



    <link href="/callback.css" rel="stylesheet">




    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Надежда | <%= title %></title>
</head>
<body>
<div class='header'>
    <div class='container'>
        <div class='header-line'>
            <div class='header-logo'>
               <a href="/"> <img src="images/logo.png" alt=""></a>
            </div>

            <div class='nav'>
                <a class='nav-item' href="/">ГЛАВНАЯ</a>
                <a class='nav-item' href="/#specialists">ПЕРСОНАЛ</a>
                <a class='nav-item' href="prices">УСЛУГИ И ЦЕНЫ</a>
                <a class='nav-item' href="reception">ЗАПИСЬ</a>
            </div>

            <div class='phone'>
                <div class='phone-holder'>
                    <div class='phone-img'>
                        <img src="images/phone2.png" alt="">
                    </div>

                    <div class='number'><a class='num' href='#'>+7(985)-343-01-14</a></div>
                </div>

                <div class='phone-text'>
                    Свяжитесь с нами для <br> записи на прием
                </div>
            </div>

            <div class='btn'>
                <a class='button' href='call'>ПЕРЕЗВОНИТЕ</a>
            </div>





        </div>


        <div class='header-down'>

            <div class='header-title'>
              Добро пожаловать в нашу клинику «Надежда»

                <div class='header-suptitle'>
                    КАЧЕСТВЕННАЯ МЕДИЦИНА ДОСТУПНА КАЖДОМУ
                </div>

                <div class='header-bth'>
                    <a href='prices' class='header-button'>НАШИ УСЛУГИ</a>
                </div>

            </div>

        </div>

    </div>

</div>

<div class='cards'>

    <div class='container'>

       <div class='cards-holder'>

            <div class='card'>

                <div class='card-image'>
                    <img class='card-img' src='images/pers.png'>
                </div>

                <div class='card-title'>
                 Высококлассный  &nbsp;<span>персонал</span>
                </div>

                <div class='card-desc'>
                    Нам удалось собрать команду из специалистов, которые имеют большой опыт в лечении 
                    и уходе за пациентами.
                </div>

            </div>

            <div class='card'>

                <div class='card-image'>
                    <img class='card-img' src='images/zdan.png'>
                </div>

                <div class='card-title'>
                    Свежее   &nbsp;<span>здание</span>
                </div>

                <div class='card-desc'>
                    В здании выполнен ремонт по новейшим технологиям. Оно оборудовано всеми современными
                    средствами для обеспечения безопасности и комфорта наших пациентов.

                </div>

            </div>

            <div class='card'>

                <div class='card-image'>
                    <img class='card-img' src='images/oborud.png'>
                </div>

                <div class='card-title'>
                   Новейшее  &nbsp;<span>оборудование</span>
                </div>

                <div class='card-desc'>
                    Клиника оснащена современным оборудованием. Наши сотрудники постоянно повышают 
                    свою квалификацию и используют самые эффективные методы лечения.
                </div>

            </div>
        </div>
    </div>

</div>


<div class='history'>

    <div class='container'>

        <div class='history-holder'>
            <div class='history-info'>
                <div class='history-title'>
                    Наша <span>История</span>
                </div>

                <div class='history-desc'>
                    Как и у любого другого самобытного места, у нас есть своя, особая история. Клиника названа в честь матери основателя, которая за время своей жизни сделала очень много добрых поступков и спасла много жизней. С честью и достоинство выполняла свой долг по поддержанию качества медицины на высоком уровне.
                </div>


                <div class='history-number'>
                    <div class='number-item'>
                        508 <span>Пациентов</span>
                    </div>

                    <div class='number-item'>
                        6 <span>Специалистов</span>
                    </div>

                    <div class='number-item'>
                        1 <span>Город</span>
                    </div>
                </div>
            </div>

            <div class='history-images'>
                <img class='imgages-1' src="images/1.jpg" alt="">
                <img class='imgages-2' src="images/2.jpg" alt="">
                <img class='imgages-3' src="images/3.jpg" alt="">
        </div>
        </div>

    </div>

</div>


<div class='black-block'>

    <div class='container'>

        <div class='block-holder'>
            <div class='left'>
                <div class='left-title'>
                    Обследуйтесь в одной из <br> самых современных клиник Дмитрова.
                </div>

                <div class='left-text'>
                    Только в этом месяце комплексное обследование после коронавируса от 5 000 руб.
                </div>
            </div>

            <div class='right'>
                <div class='right-button'>
                    <a href='call' class='right-btn'>ЗАКАЗ ЗВОНКА</a>
                </div>
            </div>
        </div>

    </div>

</div>


<div class='uslugi'>

    <div class='container'>

        <div class='uslugi-title'>
            Наши <span>Услуги</span>
        </div>

        <div class='analises'>
            <div class='analises-image'>
                <img src='images/covid-big.jpeg' class='covid-big'>
            </div>

            <div class='analises-items'>
                <div class='analise-item'>
                    <img src="images/first.jpg" class=''>
                    <div class='burger-text'>
                        ПЦР-тест на коронавирус -------------- 1 990 руб
                    </div>
                </div>

                <div class='analise-item'>
                    <img src="images/second.jpg" class=''>
                    <div class='burger-text'>
                        Белки и аминокислоты -------------- 370 руб
                    </div>
                </div>

                <div class='analise-item'>
                    <img src="images/third.jpg" class=''>
                    <div class='burger-text'>
                        Глюкоза и метаболиты -------------- 335 руб
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class='coment'>

    <div class='container'>

        <div class='coment-text'>
            В 2020-ом году и по сегодняшний день в нашей стране шла пандемия и как обычно бывает, понапридумывали кучу разных законов, ограничений и теперь что бы после отпуска выйти на работу, нужно принести результат анализа на ковид, и делать конечно же пришлось за свой счет, конечно можно было забить на это дело, но оставаться без работы и своей зарплаты совсем не хочется.
            Обратился я в Надежду за такой услугой, сдавал не только мазок, но еще и на антитела из вены. Пошел туда без записи, в порядке живой очереди, народу на удивление было не много всего 2-а человека, сразу обратил на чистоту внутри, на входе нужно было надеть бахилы, температуру ни кто не мерил, из работников я только наблюдал женщину за стойкой регистрации, когда подошла моя очередь я назвал именно те анализы, которые заранее выбрал на сайте лаборатории. 
        </div>

        <div class='coment-image'>
            <img src='images/face.png' class='coment-img'>
        </div>

        <div class='coment-type'>
            Пациент
        </div>

        <div class='coment-name'>
            Александр
        </div>

    </div>

</div>

<!--
<div class='galery'>

    <div class='container'>

        <div class='galery-title'>
            Галерея <span>Блюд</span>
        </div>


        <div class='galery-content'>

            <div class='galery-left'>

                <div class='galery-up'>
                    <img class='img-gal high' src="10.jpg">
                </div>

                <div class='galery-down'>
                    <img class='img-gal' src="20.jpg">
                    <img class='img-gal' src="30.jpg">
                </div>

            </div>

            <div class='galery-right'>

                 <div class='galery-up'>
                    <img class='img-gal' src="20.jpg">
                    <img class='img-gal' src="30.jpg">
                </div>

                <div class='galery-down'>
                    <img class='img-gal high' src="10.jpg">
                </div>

            </div>

        </div>


    </div>

</div>
-->

<div class='spicialist'>

    <div class='container'>

        <div class='spicialist-title' id="specialists">
            Наши <span>Специалисты</span>
        </div>


        <div class='spicialist-content'>
            <img src='images/1c.jpg'>
            <img src='images/2c.jpg'>
            <img src='images/3c.jpg'>
        </div>

    </div>

</div>


<div class='footer'>
    Copyright 2022
</div>

<script charset="utf-8" type="text/javascript" src="https://cp.callback-free.com/api/js/form-builder.js" data-key="FKEA0dVx"></script>
<script src='app.js'></script>
<script src='server.js'></script>




</body>
</html>
